<!DOCTYPE html>
<html>
<head>
  <title>SkyHi</title>
  <%= stylesheet_link_tag  "skyhi", :media => "all" %>
  <%= javascript_include_tag "skyhi", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
